
<div *ngIf="testCase">
    <h2><span jhiTranslate="seodinApp.testCase.detail.title">Test Case</span> {{testCase.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="seodinApp.testCase.tag">Tag</span></dt>
        <dd>
            <span>{{testCase.tag}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.testCase.uri">Uri</span></dt>
        <dd>
            <span>{{testCase.uri}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.testCase.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'seodinApp.ArtifactStatus.' + testCase.status}}">{{testCase.status}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.testCase.author">Author</span></dt>
        <dd>
            <span>{{testCase.author}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.testCase.license">License</span></dt>
        <dd>
            <span>{{testCase.license}}</span>
        </dd>
        <dt><span jhiTranslate="seodinApp.testCase.softwareSystem">Software System</span></dt>
        <dd>
            <div *ngIf="testCase.softwareSystem">
                <a [routerLink]="['/software-system', testCase.softwareSystem?.id]">{{testCase.softwareSystem?.tag}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="seodinApp.testCase.developer">Developer</span></dt>
        <dd>
            <div *ngIf="testCase.developer">
                <a [routerLink]="['/developer', testCase.developer?.id]">{{testCase.developer?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'test-case/'+ testCase.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
