<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNoteLabel" jhiTranslate="seodinApp.note.home.createOrEditLabel">Create or edit a Note</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!note.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="note.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.tag" for="field_tag">Tag</label>
            <input type="text" class="form-control" name="tag" id="field_tag"
                [(ngModel)]="note.tag" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="note.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.uri" for="field_uri">Uri</label>
            <input type="text" class="form-control" name="uri" id="field_uri"
                [(ngModel)]="note.uri" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="note.status" id="field_status" >
                <option value="PRIVATE">{{'seodinApp.ArtifactStatus.PRIVATE' | translate}}</option>
                <option value="SUBMITED">{{'seodinApp.ArtifactStatus.SUBMITED' | translate}}</option>
                <option value="PUBLISHED">{{'seodinApp.ArtifactStatus.PUBLISHED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.author" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                [(ngModel)]="note.author" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.license" for="field_license">License</label>
            <input type="text" class="form-control" name="license" id="field_license"
                [(ngModel)]="note.license" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.interview" for="field_interview">Interview</label>
            <select class="form-control" id="field_interview" name="interview" [(ngModel)]="note.interview" >
                <option [ngValue]="null"></option>
                <option [ngValue]="interviewOption.id === note.interview?.id ? note.interview : interviewOption" *ngFor="let interviewOption of interviews; trackBy: trackInterviewById">{{interviewOption.tag}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.note.thinkaloud" for="field_thinkaloud">Thinkaloud</label>
            <select class="form-control" id="field_thinkaloud" name="thinkaloud" [(ngModel)]="note.thinkaloud" >
                <option [ngValue]="null"></option>
                <option [ngValue]="thinkAloudOption.id === note.thinkaloud?.id ? note.thinkaloud : thinkAloudOption" *ngFor="let thinkAloudOption of thinkalouds; trackBy: trackThinkAloudById">{{thinkAloudOption.tag}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
