<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDiaryLabel" jhiTranslate="seodinApp.diary.home.createOrEditLabel">Create or edit a Diary</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!diary.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="diary.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.diary.uri" for="field_uri">Uri</label>
            <input type="text" class="form-control" name="uri" id="field_uri"
                [(ngModel)]="diary.uri" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.diary.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="diary.status" id="field_status" >
                <option value="PRIVATE">{{'seodinApp.ArtifactStatus.PRIVATE' | translate}}</option>
                <option value="SUBMITED">{{'seodinApp.ArtifactStatus.SUBMITED' | translate}}</option>
                <option value="PUBLISHED">{{'seodinApp.ArtifactStatus.PUBLISHED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.diary.author" for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                [(ngModel)]="diary.author" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.diary.license" for="field_license">License</label>
            <input type="text" class="form-control" name="license" id="field_license"
                [(ngModel)]="diary.license" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.diary.softwareSystem" for="field_softwareSystem">Software System</label>
            <select class="form-control" id="field_softwareSystem" name="softwareSystem" [(ngModel)]="diary.softwareSystem" >
                <option [ngValue]="null"></option>
                <option [ngValue]="softwareSystemOption.id === diary.softwareSystem?.id ? diary.softwareSystem : softwareSystemOption" *ngFor="let softwareSystemOption of softwaresystems; trackBy: trackSoftwareSystemById">{{softwareSystemOption.tag}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.diary.task" for="field_task">Task</label>
            <select class="form-control" id="field_task" name="task" [(ngModel)]="diary.task" >
                <option [ngValue]="null"></option>
                <option [ngValue]="taskOption.id === diary.task?.id ? diary.task : taskOption" *ngFor="let taskOption of tasks; trackBy: trackTaskById">{{taskOption.tag}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="seodinApp.diary.developer" for="field_developer">Developer</label>
            <select class="form-control" id="field_developer" name="developer" [(ngModel)]="diary.developer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="developerOption.id === diary.developer?.id ? diary.developer : developerOption" *ngFor="let developerOption of developers; trackBy: trackDeveloperById">{{developerOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
